/* duckyu.css 
PC화면을 주 화면으로 설계하였음(최소 1024px 기준)*/
/*공통 사항(기본 셋팅)*/
body{
  margin: 0px;
  padding: 0px;
  font-family: "맑은 고딕","굴림";
  font-size: 1em;
  background: linear-gradient(to bottom, skyblue, white 50%);
  background-attachment: fixed;
}
ul li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}

/* PC모드 설정하기(태블릿,모바일 에서 지정하지 않으면 이곳도 공통적으로 적용된다.) */
#container{ /* 전체 틀 */
  width: 960px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid gray;
}

#mainHeader{ /* 헤더 */
  height: 280px;
  margin-top: 0px;
  background-image: url("images/12.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

#mainHeader h1{ /* 헤더에 있는 타이틀바 */
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
}

.header1 a { /* 헤더에 있는 앵커 */
  color: #ff0;
  font-size: 2em;
  text-shadow: 1px 2px 1px #000;
}

#mainNav{ /* 네비게이션(메뉴)바 디자인*/
  width: 960px;
  height: 60px;
  background-color: #060;
  /* margin-top: -16px; */
}

#mainNav ul{
  text-align: center;
  margin: 0px;
}

#mainNav ul li {
  float: left;
  width: 100px;
  height: 40px;
  font-size: 1.1em;
  padding: 20px 0px 0px 90px;
}

#mainNav a {
  display: block;
  color: #fff;
  font-weight: border; 
}

#mainNav a:hover{
  color: #00f;

}

#content { /* 본문 전체*/
  width: 720px;
  float: left;
  background-color: #fff;
  padding-left: 10px;
}


#footer{ /* 푸터 영역 */
  clear: both;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0px 20px;
}

#sidebar{ /* 사이드 ex) 광고 등등*/
  width: 200px;
  float: right;
  padding: 20px 10px;
}

#sidebar img{ /* 사이드바의 그림 처리*/
  border: 1px solid #aaa;
  margin-bottom: 12px;
}

#sidebar img:hover{ 
  opacity: 0.8;
  border: 1px solid #000
}

.notice li {
  list-style: circle;
}





/* 테블릿화면설정 (최소 600px ~ 최대 1023px)*/
@media screen and (min-width:600px) and (max-width:1023px){
  #container{ /* 전체 틀 */
    width: 580px;
  }
  
  #mainHeader{ /* 헤더 */
    height: 170px;
    background-image: url("images/11.jpg");
  }
  
  #mainHeader h1{ /* 헤더에 있는 타이틀바 */
    margin-top: 20px;
  }
  
  .header1 a { /* 헤더에 있는 앵커 링크 디자인 */
    font-size: 1.5em;
  }
  
  #mainNav{ /* 네비게이션(메뉴)바 디자인*/
    width: 580px;
  }
  
  #mainNav ul{
    text-align: center;
  }
  
  #mainNav ul li {
    width: 90px;
    font-size: 1em;
    padding: 20px 0px 0px 30px;
  }

  #content { /* 본문 전체*/
    width: 550px;
  }
  
  
  #footer{ /* 푸터 영역 */
    font-size: 0.8em;
  }
  
  #sidebar{ /* 사이드 ex) 광고 등등*/
    width: 550px;
    padding: 0px 10px;
  }
  
  #sidebar img{ /* 사이드바의 그림 처리*/
    border: 1px solid #aaa;
    margin-bottom: 12px;
    width: 32%;
  }
}

/* 모바일화면설정 (최소 px ~ 최대 599px)*/
@media screen and (max-width:1023px){
  #container{ /* 전체 틀 */
    width: 320px;
  }
  
  #mainHeader{ /* 헤더 */
    height: 90px;
    background-image: url("images/13.jpg");
  }
  
  #mainHeader h1{ /* 헤더에 있는 타이틀바 */
    margin-top: 15px;
  }
  
  .header1 a { /* 헤더에 있는 앵커 링크 디자인 */
    font-size: 0.8em;
  }
  
  #mainNav{ /* 네비게이션(메뉴)바 디자인*/
    width: 320px;
    height: 0px;
  }
  
  #mainNav ul li {
    width: 280px;
  }
  #mainNav a {
    display: block;
    color: brown;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0px 50px 0 -55px;
    font-size: 0.9em;
    padding: 10px 0px;
  }

  #content { /* 본문 전체*/
    width: 310px;
    margin-top: 10px;
  }
  
  
  #footer{ /* 푸터 영역 */
    font-size: 0.6em;
  }
  
  #sidebar{ /* 사이드 ex) 광고 등등*/
    width: 320px;
    padding: 0px;
  }
  
  #sidebar img{ /* 사이드바의 그림 처리*/
    border: 1px solid #ccc;
    margin-bottom: 2px;
    width: 98%;
    margin-left: 2px;
  }
  #sidebar img:hover{
    border: 1px solid #000;
    opacity: 0.8;
  }
}
